
.App {
  min-height: 100vh;
  background: linear-gradient(
      200deg,
      rgba(0, 0, 0, 1),
      rgba(0,0,0,0.79), 
      rgba(0, 0, 0, 1)
    ),
  url('clouds.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  color: rgb(240, 240, 255);
  font-family: monospace;
  letter-spacing: 0.05rem;
}
