
.Global {
  min-height: 100vh;
  background-color:rgb(50, 69, 70);
  color: rgb(255, 255, 255);
  font-family: monospace;
  letter-spacing: 0.04rem;
  font-size: 1rem;
  @media only screen and (max-width: 1300px) {
    font-size: 0.8rem;
    letter-spacing: 0rem;
    min-height: 230vh;
  }
}
